{% extends 'headerfooter.html' %}
{% block content %}
        <div class="head-bread">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/register/">Register</a></li> -->
                    <li class="active">FORGOT PASSWORD</li>
                </ol>
                <h2>{{msg}}</h2>
            </div>
        </div>
        <!-- reg-form -->
	<div class="reg-form">
		<div class="container">
			<div class="reg">
				<h3>enter user name</h3>
				<p style="color: #404040;">Welcome, please enter the following details to continue.</p>
				<!-- <p>If you have previously registered with us, <a href="#">click here</a></p> -->
				 <form action="/forgotpassword/" method="POST">
				 	{% csrf_token %}
					<ul>
						<li class="text-info">First Name: </li>
						<li><input type="text" value="" name="rFname"></li>
					</ul>
					<input type="submit" value="update Now">
					<!-- <p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p> --> 
				</form>
			</div>
		</div>
	</div>
{% endblock %}