{% extends 'headerfooter.html' %}
{% block content %}
        <div class="head-bread">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login/">LOGIN</a></li>
                    <li class="active">Owner Change Password</li>
                </ol>
            </div>
        </div>
        <!-- reg-form -->
	<div class="reg-form">
		<div class="container">
			<div class="reg">
				<h3>change password</h3>
				<p style="color: #404040;">Welcome, please enter the following details to continue.</p>
				<!-- <p>If you have previously registered with us, <a href="#">click here</a></p> -->
				{% for x in data %}
				 <form action="/ownerchangepassword/?uid={{x.id}}" method="POST">
				 	{% csrf_token %}
					<ul>
						<li class="text-info">Password: </li>
						<li><input type="password"  name="rPassword"></li>
					</ul>					
					<input type="submit" value="update Now">
					<!-- <p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p> --> 
				</form>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}